.json-record {
  padding: 5px 10px;

  .json-record-key {
    vertical-align: top;
    margin-right: 5px;
    font-weight: bold;
    display: inline-block;
  }

  .json-record-value {
    display: inline-block;
  }
}
