.json-record {
  padding: 5px 10px;

  .json-record-key {
    vertical-align: top;
    margin-right: 5px;
    font-weight: bold;
    display: inline-block;
  }

  .json-record-value {
    display: inline-block;

    &[data-type='string'] {
      color: #379929;
    }

    &[data-type='number'], &[data-type='null'] {
      color: #c23616;
    }

    &[data-type='boolean'] {
      color: #7158e2;
    }
  }
}
